* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --main-color: #00c7fc;
  --first-color: white;
  --second-color: #14677e;
  --third-color: #777;
}
/* START RULES*/
.container {
  margin: 0 7rem;
}

section .head {
  text-align: center;
  width: 550px;
  margin: 0 auto;
}
section .head h2 {
  width: fit-content;
  font-size: 30px;
  text-transform: uppercase;
  margin: auto;
  letter-spacing: 1px;
}

section .head .circle {
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
section .head .circle::before,
section .head .circle::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  top: 4px;
  background-color: black;
}
section .head .circle::before {
  left: -62px;
}
section .head .circle::after {
  right: -62px;
}

section .head p {
  margin-top: 20px;
  font-size: 18px;
  color: var(--third-color);
}

/* END RULES */

/* START LANDING PAGE */
.landing {
  position: relative;
  height: 100vh;
  width: 100%;
}
/* START HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--first-color);
  position: relative;
  z-index: 999;
  padding-block: 25px;
}
header .navbar {
  display: flex;
}

header .navbar nav a {
  text-decoration: none;
  color: var(--first-color);
  margin-right: 20px;
  text-transform: capitalize;
  position: relative;
}

header .navbar nav a:last-child {
  margin-right: 0px;
}
header .navbar nav a.active {
  color: var(--main-color);
}
header .navbar nav a:hover {
  color: var(--main-color);
}
header .navbar nav a::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 0.2s ease-in-out;
}
header .navbar nav a:hover::before {
  width: 100%;
}
header .navbar .menu span {
  display: none;
}

header .navbar .search {
  border-left: 1px solid var(--first-color);
  padding-inline: 15px;
  margin-left: 25px;
}

header .navbar .search i {
  color: var(--first-color);
  font-size: 16px;
}
/* END HEADER */

/* START RESPONSIVE HEADER */
@media (max-width: 991px) {
  .container {
    margin: 0 2rem;
  }
  header {
    display: block;
    position: relative;
  }
  header .navbar {
    display: flex;
    justify-content: space-between;
  }
  header .navbar nav {
    position: absolute;
    top: 100%;
    margin-top: 20px;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
    z-index: 999;
  }
  header .navbar nav.hidden {
    display: none;
  }
  header .navbar nav a {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
  }
  header .navbar nav a:hover::before {
    width: 0;
  }
  header .navbar nav a:not(:last-child) {
    border-bottom: 1px solid var(--first-color);
  }
  header .navbar .menu {
    position: absolute;
    right: 0;
    top: 30%;
    display: flex;
  }
  header .navbar .menu span {
    display: block;
    color: var(--first-color);
    font-size: 25px;
    cursor: pointer;
  }
  header .navbar .menu .close {
    font-size: 30px;
  }
  header .navbar .menu .search {
    line-height: 42px;
  }
  header .navbar .menu .search i {
    font-size: 25px;
  }
  header .navbar .menu .hidden {
    display: none;
  }
}
/* END RESOPNSIVE HEADER */

/* START MAIN */
main img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
}

main img.active {
  opacity: 1;
}
main .content {
  padding-top: 2rem;
  width: 40rem;
  height: 20rem;
  background-color: var(--second-color);
  position: absolute;
  top: 12rem;
  opacity: 0.85;
  z-index: 555;
}
main .content h2 {
  color: var(--first-color);
  text-transform: capitalize;
  font-size: 1.7rem;
  padding-top: 1.5rem;
}
main .content p {
  color: var(--first-color);
  text-transform: capitalize;
  padding-top: 1.5rem;
}
.icon {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  z-index: 999;
}

.icon i {
  color: var(--first-color);
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
}
.icon i.disable {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}
.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.bullet span {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--first-color);
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
}

.bullet span.active {
  width: 1.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--first-color);
  transition: all 0.3s linear;
}

.social {
  position: absolute;
  right: 8rem;
  top: 40%;
  transform: translateX(-50%);
  z-index: 555;
}

.social a {
  display: block;
  margin-block: 1.5rem;
  text-decoration: none;
}

.social a i {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
}
/* END MAIN */

/* START RESPONSIVE MAIN */
@media (max-width: 768px) {
  main .content {
    width: 100%;
    padding-top: 0.8rem;
    top: 9rem;
  }
  main .content h2 {
    font-size: 25px;
  }
  main .content p {
    font-size: 18px;
  }
  .icon i {
    font-size: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
  }
  .social {
    top: auto;
    bottom: 2%;
    right: 1rem;
  }
  .social a {
    margin-block: 0.5rem;
  }
  .social a i {
    color: var(--first-color);
  }
}
/* END RESPONSIVE MAIN */

/* END LANDING PAGE */

/* START SERVICESE SECTION */
section {
  padding-top: 100px;
}
.services {
  padding-bottom: 100px;
}

.services-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 20px;
}

.services-content .card {
  display: flex;
}
.services-content .card .card-icon {
  margin-right: 33px;
}
.services-content .card .card-icon i {
  font-size: 50px;
}
.services-content .card .card-text {
  width: 100%;
  margin-bottom: 20px;
  padding-right: 10px;
}
.services-content .card .card-text h3 {
  color: var(--main-color);
  font-size: 25px;
  margin-bottom: 20px;
}
.services-content .card .card-text p {
  color: var(--third-color);
}
/* START MEDIA QUERY */
@media (max-width: 991px) {
  .services-content {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  section .head {
    width: 100%;
  }
  .services-content .card {
    display: block;
    text-align: center;
  }
  .services-content .card .card-text {
    margin-top: 20px;
  }
}
/* END MEDIA QUERY */

/* END SERVICESE SECTION */

/* START DESIGN SECTION */
.design {
  background-image: url(./images/design-features.jpg);
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.design .image {
  width: 40%;
  height: 462px;
  text-align: center;
  position: absolute;
  top: 45%;
}
.design .content {
  padding-top: 2rem;
  width: 60%;
  height: 24rem;
  background-color: var(--second-color);
  position: absolute;
  top: 10rem;
  right: 0;
  opacity: 0.85;
  z-index: 555;
  padding: 50px;
}

.design .content h3 {
  text-transform: capitalize;
  color: var(--first-color);
  font-size: 25px;
}
.design .content .text {
  margin-top: 50px;
}

.design .content .text div {
  color: var(--first-color);
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.design .content .text div i {
  margin-right: 15px;
  font-size: 18px;
}

/* MEDIA QUERY */
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
  .design .content {
    width: 100%;
  }
}

/* END DESIGN SECTION */

/* START PORTFOLIO SECTION */
.portfolio {
  padding-bottom: 0;
}
.gallery {
  padding-top: 100px;
}

.gallery .btn {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.gallery .btn span {
  width: fit-content;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
}
.gallery .btn span.active {
  background-color: var(--main-color);
}
.gallery .images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


.gallery .images .box{
  overflow: hidden;
  position: relative;
  
}
.gallery .images .box img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.gallery .images .box:hover img{
  transform: rotate(4deg) scale(1.1);
  
}

.gallery .images .box .caption {
  position: absolute;
  left: 0;
  padding: 10px 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.gallery .images .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.gallery .images .box .caption p {
  color: var(--main-color);
}
.gallery .images .box:hover .caption{
  bottom: 0;
  
}

.botton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.botton button {
  padding: 15px 30px;
  background-color: var(--main-color);
  color: var(--first-color);
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* END PORTFOLIO SECTION */

/* START VIDEO SECTION */
.media {
  padding-top: 0;
  position: relative;
}
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.video video {
  width: 100%;
}
.text {
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: #14677e9c;
  top: 30%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--first-color);
}

.text p {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.text span {
  text-transform: capitalize;
  margin-bottom: 25px;
}
.text button {
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 18px;
  background-color: black;
  color: var(--first-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
/* END VIDEO SECTION */

/* START ABOUT SECTION */
.about {
  position: relative;
  height: 100vh;
}
.laptop {
  margin-top: 10%;
  text-align: center;
}
.laptop img{
  max-width: 100%;
}

/* START NUMBER */

.number {
  background-image: url("./images/stats.png");
  position: relative;
  top: -25%;
  padding: 80px 0;
}
.number::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}
.state {
  width: 100%;
  padding: 50px;
  background-color: #00c7fc9e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  position: relative;
  z-index: 1;
}

.state .state-card {
  color: var(--first-color);
  margin-right: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.state .state-card i {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}
.state .state-card p {
  margin-top: 10px;
  font-size: 40px;
}
.state .state-card span {
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .state {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .state .state-card {
    width: 100%;
    margin-bottom: 60px;
  }
}
/* END NUMBER */

/* START TESTIMONIALS*/
.testi-skills{
display: flex;
}

.testi-skills .head{
  text-transform: uppercase;
  }
/* END TESTIMONIALS*/

/* END ABOUT SECTION */


