* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #00c7fc;
  --first-color: white;
  --second-color: #14677e;
}

.container {
  margin: 0 7rem;
}

.landing {
  position: relative;
  height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--first-color);
  position: relative;
  z-index: 999;
  padding-block: 25px;
}
header .navbar {
  display: flex;
}

header .navbar nav a {
  text-decoration: none;
  color: var(--first-color);
  margin-right: 20px;
  text-transform: capitalize;
  position: relative;
}

header .navbar nav a:last-child {
  margin-right: 0px;
}
header .navbar nav a.active {
  color: var(--main-color);
}
header .navbar nav a:hover {
  color: var(--main-color);
}
header .navbar nav a::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 0.2s ease-in-out;
}
header .navbar nav a:hover::before {
  width: 100%;
}
header .navbar .menu span {
  display: none;
}

header .navbar .search {
  border-left: 1px solid var(--first-color);
  padding-inline: 15px;
  margin-left: 25px;
}

header .navbar .search i {
  color: var(--first-color);
  font-size: 16px;
}

@media (max-width: 901px) {
  .container {
    margin: 0 2rem;
  }
  header {
    display: block;
    position: relative;
  }
  header .navbar {
    display: flex;
    justify-content: space-between;
  }
  header .navbar nav {
    position: absolute;
    top: 100%;
    margin-top: 20px;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
    z-index: 999;
  }
  header .navbar nav.hidden {
    display: none;
  }
  header .navbar nav a {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
  }
  header .navbar nav a:hover::before {
    width: 0;
  }
  header .navbar nav a:not(:last-child) {
    border-bottom: 1px solid var(--first-color);
  }
  header .navbar .menu {
    position: absolute;
    right: 0;
    top: 30%;
    display: flex;
  }
  header .navbar .menu span {
    display: block;
    color: var(--first-color);
    font-size: 25px;
    cursor: pointer;
  }
  header .navbar .menu .close {
    font-size: 30px;
  }
  header .navbar .menu .search {
    line-height: 42px;
  }
  header .navbar .menu .search i {
    font-size: 25px;
  }
  header .navbar .menu .hidden {
    display: none;
  }
}

main::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
main img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
}

main img.active {
  opacity: 1;
}

main .content {
  padding-top: 2rem;
  width: 40rem;
  height: 20rem;
  background-color: var(--second-color);
  position: absolute;
  top: 12rem;
  opacity: 0.85;
  z-index: 555;
}

main .content h2 {
  color: var(--first-color);
  text-transform: capitalize;
  font-size: 1.7rem;
  padding-top: 1.5rem;
}
main .content p {
  color: var(--first-color);
  text-transform: capitalize;
  padding-top: 1.5rem;
}
.icon {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  z-index: 999;
}

.icon i {
  color: var(--first-color);
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
}
.icon i.disable {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}
.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.bullet span {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--first-color);
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
}

.bullet span.active {
  width: 1.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--first-color);
  transition: all 0.3s linear;
}

.social {
  position: absolute;
  right: 8rem;
  top: 40%;
  transform: translateX(-50%);
  z-index: 555;
}

.social a {
  display: block;
  margin-block: 1.5rem;
  text-decoration: none;
}

.social a i {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 901px) {
  main .content {
    width: 100%;
  }
  main .content h2 {
    font-size: 25px;
  }
  main .content p {
    font-size: 18px;
  }
  .icon i {
    font-size: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
  }
  .social {
    top: auto;
    bottom: 2%;
    right: 1rem;
  }
  .social a {
    margin-block: 0.5rem;
  }
  .social a i {
    color: var(--first-color);
  }
}
